<div class="center">
    <h1>Liste des Patients</h1>
  
  </div>
  <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col" >Nom et prénom</th>
          <th scope="col" >E-mail</th>
          <th scope="col"> Date de naissance</th>
          <th scope="col" > Genre</th>
          <th scope="col" > Date de rendez-vous</th>
        
        </tr>

    </thead>
    <tbody>

      <tr>
       
        <td >{{name}}</td>
        <td> {{mail}}  </td>
        <td> {{dateNais}} </td>
        <td> {{genre}}  </td>
        <td> {{dateRend}} </td>

       
    </tr>
</tbody>
</table>
