
<div class="main" >  	
    <div class="center">
        <h1>Login</h1>
    </div>
        

<form #f="ngForm" (ngSubmit)="add(f)">
    <input type="text" class="form-group" name= "Email " placeholder="Email" ngModel>
    <br>
    <input type="text" class="form-group" name= "password " placeholder="Password" ngMO>
    <br>
    
    <button type="submit" class="btn btn-primary">Login</button>
  
  </form>
  <p class="p">Not have an account?<a routerLink="/register"> Register here</a></p>
        testtt
</div>

