<div class="container">






  <!-- <a routerLink="/register">register</a>
 <br>
 <a routerLink="/login">login</a>-->

 <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 
        <li class="nav-item">
          <a class="nav-link active" style="color:#573b8a"   aria-current="page" routerLink="/register">Register</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link active" style="color:#573b8a" aria-current="page" routerLink="/login">Login</a>
        </li>
        
        <li class="nav-item">
         <a class="nav-link active" style="color:#573b8a" aria-current="page" routerLink="/listedesdocteurs">Liste des docteurs</a>
       </li>

       <li class="nav-item">
        <a class="nav-link active" style="color:#573b8a" aria-current="page" routerLink="/listedesrendez-vous">Liste des rendez-vous</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" style="color:#573b8a" aria-current="page" routerLink="/patientsList">Liste des patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color:#573b8a" aria-current="page" routerLink="/specialites">Specialites</a>
      </li>
      </ul>
    </div>
  </div>
 </nav>
 
 
 <router-outlet></router-outlet>
 
