<div class="center">
    <h1>Liste des rendez-vous</h1>
  
  </div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom et prénom</th>
          <th scope="col">E-mail</th>
          <th scope="col">action</th>
        </tr>

    </thead>
    <tbody>

      <tr>
        <td> <i class="fa fa-user "></i> </td>
        <td>   </td>
        <td>  <i class=" fa fa-check"></i>  &nbsp;  &nbsp;<span data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></span> </td>

       
    </tr>
</tbody>
  </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nom et prénom:<br>
        Date de naissance:<br>
        Genre:<br>
        Date de rendez-vous:<br>
        Autres informations:
        test

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

