<div class="center">
    <h1>Liste des rendez-vous</h1>
  
  </div>
  <table class="table" id="myTable">
      <thead>
        <tr>
          <th scope="col" >Nom et prénom</th>
          <th scope="col" >E-mail</th>
          <th scope="col">action</th>
        </tr>

    </thead>
    <tbody>

      <tr>
       
        <td id="name" >  Nourhene BEN NACEUR </td>
        <td id="email"> bennaceur@gmail.com  </td>
        <td>  <i class=" fa fa-check"></i>  &nbsp;  &nbsp;<span data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></span> </td>

       
    </tr>
</tbody>
  </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nom et prénom: <span>Nourhene BEN NACEUR<br></span>
        Date de naissance: <span id ="date">01/06/1999</span><br>
        Genre:<span id="genre">Femme</span><br>
       Date de rendez-vous: <span id="rendez">16/08/2022</span><br>
        Autres informations:<br>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addPatient()" data-dismiss="modal">Confirmer</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Supprimer</button>
      </div>
    </div>
  </div>
</div>

